@model Transcript.Domain.Entities.UniversityTeacher

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
    .panelTitle {
        color: #e65100;
        font-size: 27px;
        text-align: center;
    }
</style>

<div class="center-align panelTitle">
    <h3>Добавление преподавателя</h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="z-depth-1 col s12 m6 l4 offset-m3 offset-l4 white center-align">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="input-field">
            @Html.LabelFor(model => model.SecondName)
            @Html.EditorFor(model => model.SecondName)
            @Html.ValidationMessageFor(model => model.SecondName, "", new { @class = "text-danger" })
        </div>

        <div class="input-field">
            @Html.LabelFor(model => model.FirstName)
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="input-field">
            @Html.LabelFor(model => model.MiddleName)
            @Html.EditorFor(model => model.MiddleName)
            @Html.ValidationMessageFor(model => model.MiddleName, "", new { @class = "text-danger" })

            <div style="text-align:left; padding:7px">
                Должность
            </div>

            @Html.DropDownList("PositionId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PositionId, "", new { @class = "text-danger" })

            <div style="text-align:left; padding:7px">
                Кафедра
            </div>

            @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })

            <div style="padding:10px">
                <input type="submit" value="Создать" class="btn btn-default" />
                @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default" })
            </div>

        </div>
    </div>
}


