@model Transcript.Domain.Entities.Absence

<style>
    .panelTitle {
        color: #e65100;
        font-size: 27px;
        text-align: center;
    }
</style>

<div class="panel panel-default" style="padding:30px">
    <div class="panelTitle">
        Вы уверены что хотите удалить это ?
    </div>
    <table class="table table-striped table-condensed table-bordered">
        <tr>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Student.SecondName)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Student.MiddleName)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Subject.Name)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Teacher.SecondName)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Teacher.FirstName)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.Teacher.MiddleName)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.TypeClass.Name)
            </th>
            <th class="text-right">
                @Html.DisplayNameFor(model => model.DateAbsence)
            </th>
        </tr>

        <tr>
            <td class="text-right">
                @Html.DisplayFor(model => model.Student.SecondName)
            </td>
            <td class="text-right">
                @Html.DisplayFor(model => model.Student.FirstName)
            </td>
            <td class="text-right">
                @Html.DisplayFor(model => model.Student.MiddleName)
            </td>
            <td class="text-right">
                @Html.DisplayFor(model => model.Subject.Name)
            </td>
            <td class="text-right">
                @Html.DisplayFor(model => model.Teacher.SecondName)
            </td>
            <td class="text-right">
                @Html.DisplayFor(model => model.Teacher.FirstName)
            </td>
            <td class="text-right">
                @Html.DisplayFor(model => model.Teacher.MiddleName)
            </td>
            <td class="text-right">
                @Html.DisplayFor(model => model.TypeClass.Name)
            </td>
            <td class="text-right">
                @Html.DisplayFor(model => model.DateAbsence)
            </td>
        </tr>
    </table>
    @using (Html.BeginForm("DeleteConfirmed", "Absence", Model))
    {
        @Html.AntiForgeryToken()

        <div class="panel-footer">
            <input type="submit" value="Удалить" class="btn btn-primary" />
            @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>

